@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

/* text selection color */
::-moz-selection {
  background: #a1e7ad;
  color: #000000;
}
::selection {
  background: #a1e7ad;
  color: #000000;
}

body {
  font-family: sans-serif;
  background-color: #888;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}

header,
footer {
  padding: 0.5rem 0;
}

header {
  background-color: rgba(250, 135, 135, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
main {
  background-color: rgb(50, 50, 50);
  color: #ccc;
}
footer {
  background-color: rgb(133, 205, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background-color: lightgrey;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .content-box {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 1rem;
}
.hero-section .content-box span {
  color: darkred;
}
.main-content {
  padding: 4rem 1rem;
}
.main-content h2 {
  font-size: 1.75rem;
}

/* responsiveness */

/* big screens */

@media (min-width: 750px) {
  header,
  footer {
    padding: 1rem 0;
  }
  .main-content {
    padding: 5rem 4rem;
  }
}

/* for landscape mode of phones like iphone X */

@media (max-height: 400px) {
  header,
  footer {
    padding: 0.5rem 0;
  }
  p {
    font-size: 1rem;
  }
  .hero-section {
    min-height: 85vh;
  }
  .hero-section .content-box {
    font-size: 2.5rem;
  }
  .main-content {
    margin: 1.5rem;
  }
}

/* for phones like  galaxay fold type phone */

@media (max-width: 300px) {
  header,
  footer {
    padding: 0.5rem 0;
  }
  .hero-section .content-box {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

/* for landscape mode of phones like galaxay fold */

@media (max-height: 300px) {
  header,
  footer {
    padding: 0.5rem 0;
  }
  p {
    font-size: 1rem;
  }
  .hero-section {
    min-height: 85vh;
  }
  .hero-section .content-box {
    font-size: 2rem;
  }
}
