/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

/* text selection color */
::-moz-selection {
  background: #a1e7ad;
  color: #000000;
}
::selection {
  background: #a1e7ad;
  color: #000000;
}
body {
  font-family: sans-serif;
  background-color: #808080;
  background-color: #222;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25vw;
}
header,
footer {
  padding: 1vw 0;
}
header {
  background-color: rgba(255, 166, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
main {
  background-color: #323232;
}
main .para {
  padding-bottom: 1vw;
  color: #ccc;
}
main .heading {
  color: #fff;
  padding-bottom: 1vw;
}
footer {
  background-color: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  background-color: #222;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .content-box {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vw;
  margin: 0 1vw;
  color: darkorange;
}
.hero-section .content-box span {
  color: orangered;
}
.main-content {
  padding: 4.5vw 1vw;
}
.main-content h2 {
  font-size: 1.75vw;
}

/* responsiveness */

@media (max-height: 1400px) and (max-width: 1050px) {
  h2 {
    font-size: 3vw;
  }
  p {
    font-size: 2.5vw;
  }
  header,
  footer {
    padding: 2vw 0;
  }
  main .para {
    padding-bottom: 2vw;
  }
  main .heading {
    padding-bottom: 2vw;
  }
  .hero-section {
    min-height: 100vh;
  }
  .hero-section .content-box {
    font-size: 5vw;
    margin: 0 2vw;
  }
  .main-content {
    padding: 18vw 4vw;
  }
  .main-content h2 {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 6vw;
  }
  p {
    font-size: 5vw;
  }
  header,
  footer {
    padding: 4vw 0;
  }
  main .para {
    padding-bottom: 4vw;
  }
  main .heading {
    padding-bottom: 4vw;
  }
  .hero-section {
    min-height: 100vh;
  }
  .hero-section .content-box {
    font-size: 10vw;
    margin: 0 4vw;
  }
  .main-content {
    padding: 18vw 4vw;
  }
  .main-content h2 {
    font-size: 7vw;
  }
}